{% extends 'base.html.twig' %}
{% block title %}Posts{% endblock %}
{% block body %}
    <h1>Posts</h1>
    <a href="/posts/new" style="position:fixed; top:1em; right:6em">Добавить Post</a>
    <a href="/logout" style="position:fixed; top:1em; right:1em">Logout</a>
    {% for post in posts %}
        <p>
            #{{ post.id }} <a href="{{ path('blog_show', {'id': post.id}) }}">{{ post.title }}</a>
            <div style="margin-left:2em; font-size:80%">{{ post.body }}</div>
        </p>
    {% endfor %}
{% endblock %}
